mixin subMenuLink(href,src,figcap,text="")
  a(href=href)
    figure 
      img(src=src, alt=figcap)
      figcaption&attributes(attributes)= figcap
    if text !=""
      p= text

header.m-header
  .inner
    .m-header__top
      if pageID === 'homepage'
        h1.m-header__logo
          a(href="/")
            img(src=path+"assets/images/logo.svg", alt="EuroStrone", width="280", height="62")
      else 
        .m-header__logo
          a(href="/")
            img(src=path+"assets/images/logo.svg", alt="EuroStrone", width="280", height="62")
      .m-header__boxright
        .m-header__search
          input(type="text", placeholder="tìm kiếm")
          p.btn_search
        .m-header__phone
          a(href="tel:0903930126")
            span 0903 930 126
        .m-header__mail 
          a(href="mailto:info@eurostone.vn")
            span info@eurostone.vn
        ul.translate
          li.lang-item.lang-item-19.lang-item-vi.current-lang.lang-item-first
            a(href="#")
              img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAATlBMVEX+AAD2AADvAQH/eXn+cXL9amr8YmL9Wlr8UlL7TkvoAAD8d0f6Pz/3ODf2Ly/0KSf6R0f6wTv60T31IBz6+jr4+Cv3QybzEhL4bizhAADgATv8AAAAW0lEQVR4AQXBgU3DQBRAMb+7jwKVUPefkQEQTYJqByBENpKUGoZslXoN5LPONH8G9WWZ7pGlOn6XZmaGRce1J/seei4dl+7dPWDqkk7+58e3+igdlySPcYbwBG+lPhCjrtt9EgAAAABJRU5ErkJggg==", alt="Tiếng Việt", width="25")
          li.lang-item.lang-item-19.lang-item-vi.lang-item-first
            a(href="#")
              img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAmVBMVEViZsViZMJiYrf9gnL8eWrlYkjgYkjZYkj8/PujwPybvPz4+PetraBEgfo+fvo3efkydfkqcvj8Y2T8UlL8Q0P8MzP9k4Hz8/Lu7u4DdPj9/VrKysI9fPoDc/EAZ7z7IiLHYkjp6ekCcOTk5OIASbfY/v21takAJrT5Dg6sYkjc3Nn94t2RkYD+y8KeYkjs/v7l5fz0dF22YkjWvcOLAAAAgElEQVR4AR2KNULFQBgGZ5J13KGGKvc/Cw1uPe62eb9+Jr1EUBFHSgxxjP2Eca6AfUSfVlUfBvm1Ui1bqafctqMndNkXpb01h5TLx4b6TIXgwOCHfjv+/Pz+5vPRw7txGWT2h6yO0/GaYltIp5PT1dEpLNPL/SdWjYjAAZtvRPgHJX4Xio+DSrkAAAAASUVORK5CYII=", alt="Tiếng Việt", width="25")
    .m-header__bottom
      ul.m-header__bottom--menu
        li
          a(href="#") Giới thiệu
        li
          a(href="#") Màu Sắc
        li.sub.sub_tab
          span Brands
          .m-header__submenu
            ul.list_tab.only_pc
              li.active Silestone
              li Silestone 01
              li Silestone 02
            .inner 
              .menu_tab.active
                p.ttl.only_sp Silestone
                .tab_cont
                  .box-left 
                    figure 
                      img(src=path+"assets/images/menu_silestone.jpg", alt="silestone")
                    .sec 
                      p.ttl SILESTONE 01
                      p.txt text
                  .box-right 
                    .tab_link 
                      dl 
                        dt Silestone Information
                        dd 
                          p 
                            a(href="#") text text
                          p 
                            a(href="#") text text
                    .tab_link 
                      dl 
                        dt Silestone Information
                        dd 
                          p 
                            a(href="#") text text
                          p 
                            a(href="#") text text
                    .tab_link 
                      dl 
                        dt Silestone Information
                        dd 
                          p 
                            a(href="#") text text
                          p 
                            a(href="#") text text
              .menu_tab 
                p.ttl.only_sp Silestone01
                .tab_cont
                  .box-left 
                    figure 
                      img(src=path+"assets/images/menu_silestone.jpg", alt="silestone")
                    .sec 
                      p.ttl SILESTONE 02
                      p.txt text
                  .box-right 
                    .tab_link 
                      dl 
                        dt Silestone Information
                        dd 
                          p 
                            a(href="#") text text
                          p 
                            a(href="#") text text
                    .tab_link 
                      dl 
                        dt Silestone Information
                        dd 
                          p 
                            a(href="#") text text
                          p 
                            a(href="#") text text
                    .tab_link 
                      dl 
                        dt Silestone Information
                        dd 
                          p 
                            a(href="#") text text
                          p 
                            a(href="#") text text
              .menu_tab 
                p.ttl.only_sp Silestone02
                .tab_cont
                  .box-left 
                    figure 
                      img(src=path+"assets/images/menu_silestone.jpg", alt="silestone")
                    .sec 
                      p.ttl SILESTONE 03
                      p.txt text
                  .box-right 
                    .tab_link 
                      dl 
                        dt Silestone Information
                        dd 
                          p 
                            a(href="#") text text
                          p 
                            a(href="#") text text
                    .tab_link 
                      dl 
                        dt Silestone Information
                        dd 
                          p 
                            a(href="#") text text
                          p 
                            a(href="#") text text
                    .tab_link 
                      dl 
                        dt Silestone Information
                        dd 
                          p 
                            a(href="#") text text
                          p 
                            a(href="#") text text
        li.sub
          span Hạng Mục Ốp Đá
          .m-header__submenu
            .inner 
              ul.menu-slider
                li.items
                  +subMenuLink('#',path+"assets/images/menu_img01.jpg","Phòng bếp test test test test test","text text text text test test test test test")
                li.items
                  +subMenuLink('#',path+"assets/images/menu_img02.jpg","Phòng bếp")
                li.items
                  +subMenuLink('#',path+"assets/images/menu_img03.jpg","Phòng bếp")
                li.items
                  +subMenuLink('#',path+"assets/images/menu_img04.jpg","Phòng bếp")
                li.items
                  +subMenuLink('#',path+"assets/images/menu_img04.jpg","Phòng bếp")
        li.sub
          span Giả Lập Không Gian
          .m-header__submenu
            ul.submenu.submenu--01
              li
                +subMenuLink('#',path+"assets/images/menu_img05.jpg","Hình dung trực tuyến test test")
              li
                +subMenuLink('#',path+"assets/images/menu_img06.jpg","Nhà bếp 3D")
              li
                +subMenuLink('#',path+"assets/images/menu_img07.jpg","Bảng thiết kế")
        li.sub
          span Tin Tức
          .m-header__submenu
            ul.submenu.submenu--02
              li
                +subMenuLink('#',path+"assets/images/menu_img08.jpg","Blog & Sự kiện")
              li
                +subMenuLink('#',path+"assets/images/menu_img09.jpg","Mẫu nhà đẹp")
              li
                +subMenuLink('#',path+"assets/images/menu_img10.jpg","Bảng thiết kế")
              li
                +subMenuLink('#',path+"assets/images/menu_img12.jpg","Bảng thiết kế")
              li
                +subMenuLink('#',path+"assets/images/menu_img11.jpg","Bảng thiết kế")
        li
          a(href="#") Cosentino City
        li
          a(href="#") Professionals
    .hamburger
      span 
      span
      span
