extends _layout/default

block container
  section#detail_mainv
    .m-mainv01
      h2 MARBLE
    ul.breadcrumb
      li
        a(href="#") Top
      li
        a(href="#") Đá Marble - Cẩm Thạch
      li Đá Marble Trắng
  section#detail_box01 
    .inner 
       .m-blockdetail
        .detail-slider
          ul.slider-for 
            li.items 
              img(src=path+"assets/images/marble/marble_img01.jpg", alt="Đá Marble Trắng Vân Mây (Volakas)")
            li.items 
              img(src=path+"assets/images/marble/marble_img02.jpg", alt="Đá Marble Trắng Vân Mây (Volakas)")
            li.items 
              img(src=path+"assets/images/marble/marble_img03.jpg", alt="Đá Marble Trắng Vân Mây (Volakas)")
            li.items 
              img(src=path+"assets/images/marble/marble_img04.jpg", alt="Đá Marble Trắng Vân Mây (Volakas)")
            li.items 
              img(src=path+"assets/images/marble/marble_img04.jpg", alt="Đá Marble Trắng Vân Mây (Volakas)")
          ul.slider-nav 
            li.items 
              img(src=path+"assets/images/marble/marble_img01.jpg", alt="Đá Marble Trắng Vân Mây (Volakas)")
            li.items 
              img(src=path+"assets/images/marble/marble_img02.jpg", alt="Đá Marble Trắng Vân Mây (Volakas)")
            li.items 
              img(src=path+"assets/images/marble/marble_img03.jpg", alt="Đá Marble Trắng Vân Mây (Volakas)")
            li.items 
              img(src=path+"assets/images/marble/marble_img04.jpg", alt="Đá Marble Trắng Vân Mây (Volakas)")
            li.items 
              img(src=path+"assets/images/marble/marble_img04.jpg", alt="Đá Marble Trắng Vân Mây (Volakas)")
        .m-blockdetail__cont 
          .block-top 
            h4 Đá Marble Trắng Vân Mây (Volakas)
            ul.list-tag 
              li Mã sản phẩm :
                span.bold EWH11014
              li Dekton - Onirika
            .m-blockdetail__tab 
              ul.tab-ttl 
                li.active Mô tả
                li Thông số kỹ Thuật
              .tab-cont 
                .tab-frame.active
                  .sec 
                      p Đá Marble trắng vân mây đến từ Hy Lạp với màu đá trắng chủ đạo cùng với các đường vân màu xám, nâu, tím, hồng..., phù hợp ốp tường trang trí, hoặc các tiện ích khác góp phần tạo nên sự sang trọng cho ngôi nhà của bạn.
                      p Với công nghệ hiện đại đến từ Châu Âu, đá Marble vân mây siêu bền, siêu chắc chắn với thời gian, sẽ đem đến cho bạn một không gian thoải mái, tuyệt vời.
                .tab-frame 
                  .tab-list
                    dl 
                      dt Kích thước tiêu chuẩn (normal size)
                      dd 303cm x 143cm (119” x 56”) 303cm x 143cm (119” x 56”)303cm x 143cm (119” x 56”)303cm x 143cm (119” x 56”)
                    dl 
                      dt Kích thước khổ lớn (jumbo size) 
                      dd 330cm x 165cm (130” x 65”)
                    dl 
                      dt ĐỘ DÀY TIÊU CHUẨN
                      dd 20mm (3/4”)<br>30mm (1 1/6”)
                    dl 
                      dt CÁC LOẠI BỀ MẶT
                      dd Polished
          .gr_btn 
            div.c-btn01.c-btn01--01
              a(href="#") LIÊN HỆ NGAY
            div.c-btn01
              a(href="#") CỬA HÀNG
  section#detail_box02
    .inner
      ul.list-fea 
        li 
          figure 
            img(src=path+"assets/images/detail/icon01.png", alt="chống trầy")
          p chống trầy
        li 
          figure 
            img(src=path+"assets/images/detail/icon02.png", alt="siêu bền")
          p siêu bền
        li 
          figure 
            img(src=path+"assets/images/detail/icon03.png", alt="độ cứng  Cao")
          p độ cứng  Cao
        li 
          figure 
            img(src=path+"assets/images/detail/icon04.png", alt="Chống thấm")
          p Chống thấm

      .reference_block 
        .reference_cont 
          h3 BẠN CẦN THAM KHẢO GIÁ?
          p Liên hệ ngay với chúng tôi để nhận báo giá chi tiết nhất phù hợp với nhu cầu của quý khách.
          .c-btn01.c-btn01--01
            a(href="#") NHẬN BÁO GIÁ
        figure.reference_img
          img(src=path+"assets/images/detail/detail_img01.jpg", alt="NHẬN BÁO GIÁ")
      .viewmore_block 
        .viewmore_cont 
          p text text text 
          p text text text
        .viewmore_btn 
          span XEM THÊM
  section#detail_box03
    .bg-wave
    .inner 
      h3.c-title02 Sản Phẩm Tương Tự
      ul.c-slider01.slider01
        li.items
          a(href="#") 
            figure
              img(src=path+"assets/images/stone_img01.jpg", alt="Đá Marble Xanh (Green)")
            .sec
              h4 Đá Marble Xanh (Green)
              ul.list-tag
                li India
                li Lớn
                li 1.6 - 1.8cm
        li.items
          a(href="#") 
            figure
              img(src=path+"assets/images/stone_img01.jpg", alt="Đá Marble Xanh (Green)")
            .sec
              h4 Đá Marble Xanh (Green)
              ul.list-tag
                li India
                li Lớn
                li 1.6 - 1.8cmf
        li.items
          a(href="#") 
            figure
              img(src=path+"assets/images/stone_img01.jpg", alt="Đá Marble Xanh (Green)")
            .sec
              h4 Đá Marble Xanh (Green)
              ul.list-tag
                li India
                li Lớn
                li 1.6 - 1.8cm
        li.items
          a(href="#") 
            figure
              img(src=path+"assets/images/stone_img01.jpg", alt="Đá Marble Xanh (Green)")
            .sec
              h4 Đá Marble Xanh (Green)
              ul.list-tag
                li India
                li Lớn
                li 1.6 - 1.8cm
        li.items
          a(href="#") 
            figure
              img(src=path+"assets/images/stone_img01.jpg", alt="Đá Marble Xanh (Green)")
            .sec
              h4 Đá Marble Xanh (Green)
              ul.list-tag
                li India
                li Lớn
                li 1.6 - 1.8cm
        li.items
          a(href="#") 
            figure
              img(src=path+"assets/images/stone_img01.jpg", alt="Đá Marble Xanh (Green)")
            .sec
              h4 Đá Marble Xanh (Green)
              ul.list-tag
                li India
                li Lớn
                li 1.6 - 1.8cm
  section#detail_box04 
    .inner 
      .block
        h3.c-title03 Bồn rửa chén
        ul.detail_list01 
          li 
            a(href="#") 
              figure
                img(src=path+"assets/images/detail/products_img01.png", alt="Đối xứng")
              p Đối xứng
          li 
            a(href="#") 
              figure 
                img(src=path+"assets/images/detail/products_img02.png", alt="Cân bằng")
              p Cân bằng
          li 
            a(href="#") 
              figure 
                img(src=path+"assets/images/detail/products_img03.png", alt="Phản chiếu")
              p Phản chiếu
      .block
        h3.c-title03 Bồn rửa chén
        ul.detail_list01
          li 
            a(href="#") 
              figure
                img(src=path+"assets/images/detail/products_img04.png", alt="Bubble")
              p Bubble
          li 
            a(href="#") 
              figure 
                img(src=path+"assets/images/detail/products_img05.png", alt="Exelis")
              p Exelis
          li 
            a(href="#") 
              figure 
                img(src=path+"assets/images/detail/products_img06.png", alt="Freccia")
              p Freccia
      .block
        h3.c-title03 Bồn rửa chén
        ul.detail_list01.detail_list01--01 
          li 
            a(href="#")
              figure 
                img(src=path+"assets/images/detail/cornor_img01.png", alt="Căn bản")
              p Căn bản
          li 
            a(href="#")
              figure 
                img(src=path+"assets/images/detail/cornor_img02.png", alt="Bán gờ tròn")
              p Bán gờ tròn
          li 
            a(href="#")
              figure 
                img(src=path+"assets/images/detail/cornor_img03.png", alt="Thác nước / Góc tròn")
              p Thác nước / Góc tròn
          li 
            a(href="#")
              figure 
                img(src=path+"assets/images/detail/cornor_img01.png", alt="Bậc bán gờ tròn")
              p Bậc bán gờ tròn
          li 
            a(href="#")
              figure 
                img(src=path+"assets/images/detail/cornor_img05.png", alt="Vát cạnh")
              p Vát cạnh
          li 
            a(href="#")
              figure 
                img(src=path+"assets/images/detail/cornor_img06.png", alt="Gờ tròn")
              p Gờ tròn 
          li 
            a(href="#")
              figure 
                img(src=path+"assets/images/detail/cornor_img07.png", alt="Hình cung nhọn")
              p Hình cung nhọn
          li 
            a(href="#")
              figure 
                img(src=path+"assets/images/detail/cornor_img08.png", alt="Đỉnh tròn")
              p Đỉnh tròn
  section#detail_box05
    .inner 
      .m-block04 
        h3.c-title02.c-title02--01 Tính Năng Ưu Việt
        p.txt01 Hơn 130 lựa chọn màu sắc thỏa mãn mọi nhu cầu của bạn
        p.txt02 Với các tính năng và màu sắc đa dạng phong phú, sản phẩm đá DEKTON thích hợp với mọi ứng dụng nội thất cho căn nhà của bạn
        ul.list-3cols 
          li 
            a(href="#")
              figure 
                img(src=path+"assets/images/dekton/fea_img01.jpg", alt="GIẢ LẬP KHÔNG GIAN")
              .sec 
                h4.ttl GIẢ LẬP KHÔNG GIAN
                p.txt Lựa chọn một căn phòng và giả lập căn nhà mơ ước bằng cách chọn bề mặt và thiết kế mà bạn thích.
                p.link Thiết kế ngay 
          li 
            a(href="#")
              figure 
                img(src=path+"assets/images/dekton/fea_img01.jpg", alt="GIẢ LẬP KHÔNG GIAN")
              .sec 
                h4.ttl GIẢ LẬP KHÔNG GIAN
                p.txt Lựa chọn một căn phòng và giả lập căn nhà mơ ước bằng cách chọn bề mặt và thiết kế mà bạn thích.
                p.link Thiết kế ngay 
          li 
            a(href="#")
              figure 
                img(src=path+"assets/images/dekton/fea_img01.jpg", alt="GIẢ LẬP KHÔNG GIAN")
              .sec 
                h4.ttl GIẢ LẬP KHÔNG GIAN
                p.txt Lựa chọn một căn phòng và giả lập căn nhà mơ ước bằng cách chọn bề mặt và thiết kế mà bạn thích.
                p.link Thiết kế ngay 
    figure.illust.illust04
      img(src=path+"assets/images/illust04.svg", alt="illust")     
