extends _layout/default

block container
  section#kitchen_mainv
    .m-mainv01
      h2 NHÀ BẾP
  section#kitchen_box01 
    .inner 
      h3.c-title02.c-title02--01  Sản Phẩm Cho Nhà Bếp
      ul.list-3cols 
        li 
          a(href="#")
            figure 
              img(src=path+"assets/images/kitchen/kitchen_img01.jpg", alt="MẶT BẾP")
            .sec 
              h4 MẶT BẾP
        li 
          a(href="#")
            figure 
              img(src=path+"assets/images/kitchen/kitchen_img01.jpg", alt="MẶT BẾP")
            .sec 
              h4 MẶT BẾP
        li 
          a(href="#")
            figure 
              img(src=path+"assets/images/kitchen/kitchen_img01.jpg", alt="MẶT BẾP")
            .sec 
              h4 MẶT BẾP
        li 
          a(href="#")
            figure 
              img(src=path+"assets/images/kitchen/kitchen_img01.jpg", alt="MẶT BẾP")
            .sec 
              h4 MẶT BẾP
        li 
          a(href="#")
            figure 
              img(src=path+"assets/images/kitchen/kitchen_img01.jpg", alt="MẶT BẾP")
            .sec 
              h4 MẶT BẾP
  section#kitchen_box02
    .bg-wave
    .inner
      figure.box02_img
        img(src=path+"assets/images/kitchen/kitchen_img02.jpg", alt="Bạn có quan tâm đến cải tạo?")
      .box02_cont 
        h3 Bạn có quan tâm đến cải tạo?
        .sec 
          p Chúng tôi với đội ngũ nhân viên chuyên nghiệp, kinh nghiệm nhiều năm trong xây dựng công trình và cải tạo nhà ở, sẽ giúp bạn giải đáp các thắc mắc cũng như đưa ra mức giá hợp lý nhất phù hợp cho căn nhà của bạn với chất lượng tiêu chuẩn. 
        .c-btn01 
          a(href="#") NHẬN BÁO GIÁ
  section#kitchen_box03
    .inner 
      h3.c-title02.c-title02--01 Xu Hướng Nhà Bếp
      .viewall-link
        a(href="#") Xem tất cả 
      ul.c-slider01.slider02
        li.items
          a(href="#") 
            figure
              img(src=path+"assets/images/construc_img02.jpg", alt="Đá Marble Xanh (Green)")
            .sec
              h4 Đá Marble Xanh (Green)
        li.items
          a(href="#") 
            figure
              img(src=path+"assets/images/construc_img02.jpg", alt="Đá Marble Xanh (Green)")
            .sec
              h4 Đá Marble Xanh (Green)
        li.items
          a(href="#") 
            figure
              img(src=path+"assets/images/construc_img02.jpg", alt="Đá Marble Xanh (Green)")
            .sec
              h4 Đá Marble Xanh (Green)
        li.items
          a(href="#") 
            figure
              img(src=path+"assets/images/construc_img02.jpg", alt="Đá Marble Xanh (Green)")
            .sec
              h4 Đá Marble Xanh (Green)
        li.items
          a(href="#") 
            figure
              img(src=path+"assets/images/construc_img02.jpg", alt="Đá Marble Xanh (Green)")
            .sec
              h4 Đá Marble Xanh (Green)
        li.items
          a(href="#") 
            figure
              img(src=path+"assets/images/construc_img02.jpg", alt="Đá Marble Xanh (Green)")
            .sec
              h4 Đá Marble Xanh (Green)
  section#kitchen_box04 
    .inner 
      h3.c-title02.c-title02--01 Nhãn Hiệu Của Chúng Tôi
      ul.list-2cols 
        li 
          a(href="#") 
            figure
              img(src=path+"assets/images/kitchen/kitchen_img04.jpg", alt="silestone")
            .sec 
              p.logo 
                img(src=path+"assets/images/kitchen/silestone_logo.svg", alt="silestone",width="257")
              p Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text.
        li 
          a(href="#") 
            figure
              img(src=path+"assets/images/kitchen/kitchen_img05.jpg", alt="dekton",width="163")
            .sec
              p.logo 
                img(src=path+"assets/images/kitchen/dekton_logo.svg", alt="dekton")
              p Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text.
  section#kitchen_box05
    .inner 
      h3.c-title02.c-title02--01 Xu Hướng Nhà Bếp
      .viewall-link
        a(href="#") Xem tất cả 
      ul.c-slider01.slider02
        li.items
          a(href="#") 
            figure
              img(src=path+"assets/images/construc_img02.jpg", alt="Đá Marble Xanh (Green)")
            .sec
              h4 Đá Marble Xanh (Green)
        li.items
          a(href="#") 
            figure
              img(src=path+"assets/images/construc_img02.jpg", alt="Đá Marble Xanh (Green)")
            .sec
              h4 Đá Marble Xanh (Green)
        li.items
          a(href="#") 
            figure
              img(src=path+"assets/images/construc_img02.jpg", alt="Đá Marble Xanh (Green)")
            .sec
              h4 Đá Marble Xanh (Green)
        li.items
          a(href="#") 
            figure
              img(src=path+"assets/images/construc_img02.jpg", alt="Đá Marble Xanh (Green)")
            .sec
              h4 Đá Marble Xanh (Green)
        li.items
          a(href="#") 
            figure
              img(src=path+"assets/images/construc_img02.jpg", alt="Đá Marble Xanh (Green)")
            .sec
              h4 Đá Marble Xanh (Green)
        li.items
          a(href="#") 
            figure
              img(src=path+"assets/images/construc_img02.jpg", alt="Đá Marble Xanh (Green)")
            .sec
              h4 Đá Marble Xanh (Green)
  section#kitchen_box06
    .inner 
      .m-block04 
        h3.c-title02.c-title02--01 Tính Năng Ưu Việt
        p.txt01 Hơn 130 lựa chọn màu sắc thỏa mãn mọi nhu cầu của bạn
        p.txt02 Với các tính năng và màu sắc đa dạng phong phú, sản phẩm đá DEKTON thích hợp với mọi ứng dụng nội thất cho căn nhà của bạn
        ul.list-3cols 
          li 
            a(href="#")
              figure 
                img(src=path+"assets/images/dekton/fea_img01.jpg", alt="GIẢ LẬP KHÔNG GIAN")
              .sec 
                h4.ttl GIẢ LẬP KHÔNG GIAN
                p.txt Lựa chọn một căn phòng và giả lập căn nhà mơ ước bằng cách chọn bề mặt và thiết kế mà bạn thích.
                p.link Thiết kế ngay 
          li 
            a(href="#")
              figure 
                img(src=path+"assets/images/dekton/fea_img01.jpg", alt="GIẢ LẬP KHÔNG GIAN")
              .sec 
                h4.ttl GIẢ LẬP KHÔNG GIAN
                p.txt Lựa chọn một căn phòng và giả lập căn nhà mơ ước bằng cách chọn bề mặt và thiết kế mà bạn thích.
                p.link Thiết kế ngay 
          li 
            a(href="#")
              figure 
                img(src=path+"assets/images/dekton/fea_img01.jpg", alt="GIẢ LẬP KHÔNG GIAN")
              .sec 
                h4.ttl GIẢ LẬP KHÔNG GIAN
                p.txt Lựa chọn một căn phòng và giả lập căn nhà mơ ước bằng cách chọn bề mặt và thiết kế mà bạn thích.
                p.link Thiết kế ngay 
    figure.illust.illust04
      img(src=path+"assets/images/illust04.svg", alt="illust")

