mixin mainvSlider(h2text,text,items=[],isIllust=true)
  .m-mainv 
    .inner
      .m-mainv__cont
        h2=h2text
        p=text
      .m-mainv__slider
        ul.mainv-slider&attributes(attributes)
          each item,index in items
            li.items
              img(src=item.src, alt=item.alt)
    if isIllust
      figure.illust.illust05
        img(src=path+"assets/images/illust05.svg", alt="illust")
      figure.illust.illust06
        img(src=path+"assets/images/illust06.svg", alt="illust") 
      